body {
    color: white;
}
.name {
    font-size: xx-large;
    color: rgb(23, 22, 21);
    text-align: center;
}

.section-text {
    font-size: large;
    color: rgb(23, 22, 21);
    text-align: center;
}

.subsection-title {
    font-size: large;
    color: rgb(23, 22, 21);
    text-align: center;
}